/* Paleta de colores */
:root {
    --color-marron: #7A4D33;
    --color-verde-azulado: #3C707D;
    --color-beige: #DDBA96;
    --color-blanco: #FFFFFF;
    --color-gris-claro: #F5F5F5;
}

/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-gris-claro);
    color: var(--color-marron);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

.main-content {
    flex: 3;
    padding: 20px;
}

.sidebar {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
    border-left: 1px solid #ccc;
}

h1 {
    font-size: 24px;
    color: var(--color-verde-azulado);
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

form {
    background-color: var(--color-beige);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

input[type="file"], input[type="text"] {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"]::placeholder {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 1.2rem;
    color: var(--color-marron);
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#downloadButton, #clearTextInput {
    margin: 0 5px;
}

#message, #transcription {
    margin-top: 20px;
    color: #333;
}

#transcription {
    white-space: pre-wrap;
    text-align: left;
    display: inline-block;
    max-width: 80%;
}

#textInputContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#listarTxtContainer {
    margin-top: 20px;
}

#lista-archivos {
    list-style-type: none;
    padding: 0;
}

#lista-archivos li {
    margin-bottom: 10px;
}